*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    height: 100%;
}
/* Navbar*/
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}
header .logo{
    position: relative;
    max-width: 80px;
    float: left;
}
header ul{
    margin-top: 25px;
    position: relative;
    display: flex;
    float: right;
}
header ul li{
    list-style: none;
}
header ul li a{
    display: inline-block;
    color: orange;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
    
}
/* login */
#Login{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}
.foto{
    position: relative;
    width: 50%;
    height: 100%;
}
.foto img{
    position: absolute;
    top: 123px;
    left: 0;
    width: 100%;
    height: 81.3%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.konten{
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.formLogim{
    width: 50%;
}
.formLogin h2{
    color: orange;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 4px solid #ff4584;
    display: inline-block;
    letter-spacing: 1px;
    padding-top: 100px;
}
.inputForm{
    margin-bottom: 20px;

}
.inputForm span{
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: orange;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1px;
}
input{
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid orange;
    font-size: 16px;
    letter-spacing: 1px;
    color: orange;
    background: transparent;
    border-radius: 30px;
}
input[type="button"]{
    width: 50%;
    background:#ff4584;
    color: white;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
}
input[type="button"]:hover{
    background-color:#f53677;
}
.inputForm p{
    color: orange;
}
.inputForm p a{
    color:#f53677;
}
h3{
    color: orange;
    text-align: center;
    margin: 50px 0 10px;
    font-weight: 500;
}
.sosmed{
    display: flex;
    justify-content: center;
    align-items: center;
}
#Login .sosmed li{
    list-style: none;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: orange;
    border-radius: 50%;
    margin: 0 7px;
    cursor: pointer;
}
#Login .sosmed li img{
    width: 50px;
}
#Login .sosmed li:hover{
    background:#f53677;
}